*{
    margin: 0;
    border: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: tomato;
    height: 80%;
    border-bottom: 3px solid black;
   
}
h1{
    color: #fff;
    padding: 10px;
    margin: 0 auto; 
    width: 80%;
    height: 50px ;
}