*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

main{
    margin: 40px auto;
    width: 50vw;
    height: auto;
    background-color: cornsilk;
    border: solid 1px royalblue;
    padding: 30px;
}

table, th, td{
    border: 1px solid black;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    padding: 5px;
    margin: 0 auto;

}

thead, th{
    background-color: rgb(107, 193, 250);
    color: aliceblue;
}